
%li
  %span
    %b Général
%li
  - if can? :manage, :admin
    =link_to admin_configurable_path, class:''  do

      %i.zmdi.zmdi-wrench
      Configuration
%li
  - if can? :read, User
    =link_to  users_path, class:''  do
      %i.zmdi.zmdi-accounts
      Utilisateurs
%li
  - if can? :read, Role
    =link_to  roles_path, class:''  do
      %i.zmdi.zmdi-key
      Roles