%nav
  .nav-wrapper
    =link_to root_path class: "brand-logo" do
      =image_tag "logo_alumni.jpg", id: "logo", height: 64
    %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
      %i.material-icons menu

    %ul.right.hide-on-med-and-down
      - if user_signed_in?
        - if can? :read, :admin
          %li
            =form_tag users_path, :method => :get, :user_id => :id_element do
              .input-field
                =search_field_tag 'Search', '',  name: 'query', :id_element => '#id', :placeholder => "prenom.nom.année",type: "search", id: "search"
                %label.label-icon{:for => "search"}
                  %i.material-icons search
      -MenuItems.all.each do |menu|
        -if menu.login_not_required || user_signed_in?
          %li
            - if can? menu.ability_action, menu.ability_object
              =link_to menu.name, menu.link

      - if user_signed_in?
        - if can? :read, :admin
          %li
            %a.dropdown-button{"data-constrainwidth"=>"false", "data-activates" => "dropdown1-admin_menu", "data-beloworigin"=>"true", :href => "#!"}
              %span
                Administration

                %i.zmdi.zmdi-carret-down.material-icons.right

            %ul#dropdown1-admin_menu.dropdown-content
              = render :file => 'layouts/gorg_engine/_menu_admin.html.haml'
      = render :file =>'layouts/gorg_engine/_user_widget.html.haml'




    %ul.side-nav#mobile-demo
      = render :file => 'layouts/gorg_engine/_user_widget_mobile.html.haml'

      %li.divider
      -MenuItems.all.each do |menu|
        -if menu.login_not_required || user_signed_in?
          %li
            - if can? menu.ability_action, menu.ability_object
              =link_to menu.name, menu.link


      - if user_signed_in?
        - if can? :read, :admin
          %li.search-wrapper
            .card
              =form_tag  users_path, :method => :get, :user_id => :id_element, style:"height: 48px"  do
                .input-field
                  =search_field_tag 'Search', '',  name: 'query', :id_element => '#id', :placeholder => "prenom.nom.année",type: "search", id: "search"
                  %label.label-icon{:for => "search"}
                    %i.material-icons search
                  =hidden_field_tag "id"
                  %i.material-icons close
          = render :file => 'layouts/gorg_engine/_menu_admin.html.haml'








